
.header {
    
    height: 8vh;
    background-color: black;
    
}
.body1{
    height: 90vh;
    background-image: url("house.jpg");
    background-size: cover;
    background-position: center center;

}
.body1footer{
    background-color: #F44336;
    height: 20vh;
    margin-top:-10vh;
}
#footerText{
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.container1{

    margin-top: 30vh;
    height: 30vh;
    background-color: #F44336;
    
    -webkit-box-shadow: 11px 11px 13px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 11px 11px 13px 1px rgba(0,0,0,0.34);
    box-shadow: 11px 11px 13px 1px rgba(0,0,0,0.34);
}
.body2{
    background-color: red;
    height: 70vh;
}
.body2footer{
    background-color: green;
    height: 15vh;
}


.mainH1{
        font-family: 'Russo One', sans-serif;
    color: #fff;
    font-size: 60px;

}
#underH1{
   font-size: 25px;
   color: #B6B6B6;
}

.strelka{
       

}